{% extends "base.html" %}

{% load static %}

{% block head %}
	<head>
		 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
	     <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
	    <style>
	    	#map { height: 400px;
	    			width: 250px }
	    </style>
  	</head>
{% endblock %}
{% block title %}
	openAir - {{ station.name }}
{% endblock %}


{% block content %}

    <h1>Weather Stations</h1>
    <div id="map"></div>
    
   <script>
   	var map = L.map('map').setView([32, 35], 8);
	   L.tileLayer('http://{s}.tile.cloudmade.com/8897a64b9ba14c60ac9fa07924a23e40/997/256/{z}/{x}/{y}.png', {
	    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
	    maxZoom: 18
	}).addTo(map);
   </script> 
{% endblock %}