{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}
	{% block head %}
	    <style>

        .leaflet-container {  /* all maps */
            width:  600px;
            height: 400px;
        }

        #specialbigmap {
            height: 800px;
        }

    </style>
	    {% leaflet_js %}
	    {% leaflet_css %}
	    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

	{% endblock %}
{% block content %}
    <h1>openAir - Stations on a map</h1>
            {% leaflet_map "yourmap" %}
                                            <div id="map"></div>

    <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
{% endblock %}
