{% extends "base.html" %}
{% load static %}

{% block title %}
openAir - Parameter: {{ parameter.abbr }}
{% endblock %}

{% block content %}
<h1>Parameter: {{ parameter.abbr }}</h1>

<table class="table">
	<thead><tr>
	<th>Zone</th>
	<th>Station</th>
	<th>Value</th>
	<th width="200px"></th>
	</tr></thead>
	<tbody id="records"></tbody>
</table>

<div class='d3'></div>

<script type="text/javascript">

	var table = d3.select("#records");

	var w = 180
	var h = 30
	var pad = 10

	x = d3.scale.linear()

	d3.json("{% url 'parameter_json' parameter.abbr %}", function(data) {

		var records = table.selectAll("tr")
						   .data(data)
						   .enter()
						   .append("tr");

		var zones = records.append("td")
						   .text(function(d) {
						   		return d["zone"];
						   });

		var names = records.append("td")
						   .text(function(d) {
						   		return d["name"]; 
						   });

		var values = records.append("td")
							.text(function(d) {
								return d["value"]
							})

		x.domain([d3.min(data, function(d) { return d['value']; }),
				 d3.max(data, function(d) { return d['value']; })]);

		x.rangeRound([pad, w - pad]);

		var graph = records.append("td")
				           .append("svg")
				           .attr({
				           		w: w,
				           		h: h,
				           })
				           .append("line")
				           .attr({
				        	   	x1: function(d) { return x(d['value']); },
				        	   	y1: 0,
				        	   	x2: function(d) { return x(d['value']); },
				        	   	y2: h,
				        	   	'stroke-width': 1,
				        	   	stroke: "black"
				           });
	});

</script>
{% endblock %}
