{% extends "base.html" %}
{% load static %}

{% block title %}
openAir - Parameter: {{ parameter.abbr }}
{% endblock %}
{% block navbar-list %}
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">רשימת פרמטרים<b class="caret"></b></a>
	<ul class="dropdown-menu">
		{% for p in parameter_list %}
			{% if p %}
			<li role="presentation">
				<a role="menuitem" tabindex="-1" href="{% url 'parameter' p.abbr %}">{{ p.abbr }}</a>
			</li>
			{% endif %}
		{% endfor %}
	</ul>
</li>
{% endblock %}
{% block content %}
<h1>פרמטר: {{ parameter.abbr }}</h1>
<h3>עדכון אחרון: <span dir="ltr">{{ lastupdate|date:"d/m/Y H:i" }}</span></h3>
<div class="buttons"></div>

<table class="table">
	<thead><tr>
	<th>אזור</th>
	<th>שם התחנה</th>
	<th>זמן המדידה</th>
	<th>ערך נמדד</th>
	<th width="200px"></th>
	</tr></thead>
	<tbody id="records"></tbody>
</table>

<script type="text/javascript">
	var param_abbr = "{{ parameter.abbr }}"

	var s = "{% url 'stationmap_param' url_id=137 abbr=parameter.abbr %}"
	var station_param_url = s.substring(0, s.length - 8)
	var table = d3.select("#records");

	var w = 180
	var h = 20
	var pad = 10

	x = d3.scale.linear()

	d3.json("{% url 'parameter_json' parameter.abbr %}", function(data) {

		console.log(data)

		// sort zones

		data.zones = data.zones.sort(function(a, b) {
			return (a.zone_id - b.zone_id);
		});

		// create collapse buttons
		d3.select(".buttons")
			.selectAll("a")
			.data(data.zones)
			.enter()
			.append("a")
			.text(function(d) {
				return d.zone;
			})
			.attr({
				class: "btn btn-default",
				"data-toggle": "collapse",
				"data-parent": "#accordion",
				href: function(d) { return ".zone" + d.zone_id },
			});

		// sort records
		data.records = data.records.sort(function(a, b) {
			return (a.zone_id - b.zone_id);
		});

		// place holders for the data
		var records = table.selectAll("tr")
			.data(data.records)
			.enter()
			.append("tr")
			.attr({
				class: function(d) { return "collapse zone" + d.zone_id; },
			});

		// zone column
		records.append("td")
			.text(function(d) {
				return d["zone"];
			});

		// name column
		records.append("td")
			.text(function(d) {
				return d["name"];
			}).on("mouseover", function(){d3.select(this).append("a").attr("xlink:href", function(d) {
				return (station_param_url + "/" + d["station_id"] + "/" + param_abbr + "/");
			});});


		// name column
		records.append("td")
			.text(function(d) {
				return d["timestamp"]; 
			});

		// value column
		records.append("td")
			.text(function(d) {
				return d["value"]
			});

		// x scale for visualization
		x.domain([d3.min(data.records, function(d) { return d['value']; }),
				 d3.max(data.records, function(d) { return d['value']; })]);
		x.rangeRound([pad, w - pad]);

		// place holder for the svg visualization
		var graph = records.append("td")
			.append("svg")
			.attr({
				width: w,
				height: h,
			});

		// if there is a low_level show it
		if (data.info.low_level) {
			graph.append("rect")
				.attr({
					x: 0,
					y: 0,
					width: x(data.info.low_level),
					height: h,
					opacity: 0.3,
				});

			graph.append("line")
				.attr({
					x1: x(data.info.low_level),
					y1: 0,
					x2: x(data.info.low_level),
					y2: h,
					stroke: "black",
				});
		}

		// if there is a high_level show it
		if (data.info.high_level) {
			graph.append("rect")
				.attr({
					x: x(data.info.high_level),
					y: 0,
					width: w - x(data.info.high_level),
					height: h,
					opacity: 0.3,
				});

			graph.append("line")
				.attr({
					x1: x(data.info.high_level),
					y1: 0,
					x2: x(data.info.high_level),
					y2: h,
					stroke: "black",
				});
		}

		// svg dashed line
		graph.append("line")
			.style("stroke-dasharray", ("3, 3"))  // <== This line here!!
			.attr({
				x1: 0,
				y1: h / 2,
				x2: w,
				y2: h / 2,
				stroke: "black",
			});

		// svg value markers
		graph.append("circle")
			.attr({
				cx: function(d) { return x(d['value']); },
				cy: h / 2,
				r: 4,
				stroke: "none",/*"rgba(0, 0, 0, 0.5)",*/
				fill: function(d) {

					// if the marker is out of standard mark it as red,
					// otherwise mark it with blue

					// start by check if the bounderies exist
					if (data.info.low_level) {
						if (d.value < data.info.low_level) {
							return "green";
						}
					}

					// and also to the high_level
					if (data.info.high_level) {
						if (d.value > data.info.high_level) {
							return "red";
						}
					}

					// if no "if" passed return "black"
					return "orange";
				},
			});

	// end of d3.json function
	});

</script>
{% endblock %}
