{% extends "base.html" %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
	
	<style>
		#map {
			height: 400px;
			width: 300px;
		}
		.axis path,
		.axis line {
		    fill: none;
		    stroke: black;
		    shape-rendering: crispEdges;
		}

		.axis text {
		    font-family: sans-serif;
		    font-size: 11px;
		}
	</style>
{% endblock %}
{% block title %}
openAir - {{ station.name }}

{% endblock %}
{% block navbar-list %}
<li class="dropdown"><a role="menu" data-toggle="dropdown" href="#">רשימת תחנות<b class="caret"></b></a>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
        {% for zon in zone_list %}
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">
                    {{ zon.name }}
                </a>
            <ul class="dropdown-menu">
                {% for sta in station_list %}
                    {% ifequal sta.zone.url_id zon.url_id %}
                        <li><a tabindex="-1" href="{% url 'stationmap' sta.url_id %}">
                            {{ sta.name }}
                        </a></li>
                    {% endifequal %}
                {% endfor %}
            </ul>
            </li>
        {% endfor %}
    </ul>
</li>

<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">פרמטרים הנמדדים בתחנה<b class="caret"></b></a>
		    <ul class="dropdown-menu">
		    {% for sp in station_params %}
		        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'stationmap_param' station.url_id sp.abbr %}">{{ sp.abbr }}</a></li>
		    {% endfor %}
		    </ul>
</li>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-3">
		<div id="map"></div>
	</div>
	<div class="col-md-9">
			<h1 align=center>תחנה: <a href="{% url 'stationmap' station.url_id %}">{{ station.name }}</a></h1>
<h1 align=center>פרמטר: <a href="{% url 'parameter' abbr %}">{{ abbr }}</a></h1>
<h3 align="center">עדכון אחרון: <span dir="ltr">{{ lastupdate|date:"d/m/Y H:i" }}</span></h3>
<h3 align="center">ערך ממוצע: <span dir="ltr">{{ total_average_value }}</span></h3>

		<div align=center>
			<svg id="timeseries">
		</div>
</div>
</div>


<script type="text/javascript">
	console.log({{ station.lon }}, {{ station.lat }})
	var lon = {{ station.lon }}
	var lat = {{ station.lat }}
	var stationsJson = "{% url 'stations_json' %}";
	var paramjson = "{% url 'stationmap_param_json' url_id=station.url_id abbr=abbr %}";
	var total_average_value = {{ total_average_value }}
</script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
<script src="crossfilter.v1.min.js"></script>
<script type="text/javascript" src="{% static 'openAirJS/paramd3.js' %}"></script>

{% endblock %}
