{% extends "base.html" %}
{% load static %}

{% block title %}
openAir - {{ station.name }}

{% endblock %}

{% block content %}
<h1 align=center>תחנה: {{ station.name }}</h1>

<h1 align=center>פרמטר: {{  abbr }}</h1>

<div align=center>
<svg id="timeseries">
</div>
<script type="text/javascript">
		//Create SVG element
       	//Width and height
		// a global
	    var w = 1000;
	    var h = 100;
	    var hlabels = h + 20;
	    var htimestamp = hlabels + 20;
	    var barPadding = 3;
	    var barWidth = 25;
	    var svg;

/* Visualizing parameters in a station */
		
		d3.json("{% url 'stationmap_param_json' url_id=station.url_id abbr=abbr %}", function(error, json) {
			if (error) return console.warn(error);
			var datasetValues = json.values;
			var datasetTime = json.timing;
			console.log(json.records);		

		// this part scale the transparency of the wings
			var minValue = d3.min(json.records, function(d) {
				return d.value;
			});
			var maxValue = d3.max(json.records, function(d) {
				return d.value;
			});
			var valueScale = d3.scale.linear().domain([minValue, maxValue]).range([0, 1]);

	        //Create SVG element
	        var svg = d3.select("#timeseries")
	                                .append("svg")
	                                .attr("width", w)
	                                .attr("height", h);
	
	        svg.selectAll("rect");
	        svg.data(json.records);
	        svg.enter();
	        svg.append("rect");
	         //.attr("x", function(d, i) {
	         //                return i * (w / datasetValues.length);
	         //})
	        svg.attr("x", function(d, i){return i*(barWidth+barPadding)});
	        svg.attr("y", function(d) {console.log(d.value, h-(valueScale(d.value)));
	                         return (h-(valueScale(d.value))});
	         //.attr("width", w / datasetValues.length - barPadding)
	        svg.attr("width", barWidth);
	        svg.attr("height", function(d) {
	                         return (valueScale(d.value))});
	        svg.attr("fill", function(d) {
	                        return "rgb(0, 0, " + (d.value * 10) + ")";	         
	         });
	        svg.append("svg:title");
   			svg.text(function(d) { return d.timestamp; });
	    });
		

</script>


{% endblock %}
