{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css"/>
<style>
    #map {
    height: 400px;
    width: 300px;
    }
</style>
{% endblock %}

{% block title %}
openAir - {{ station.name }}
{% endblock %}

{% block navbar-list %}
<li class="dropdown"><a role="menu" data-toggle="dropdown" href="#">רשימת תחנות<b class="caret"></b></a>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
        {% for zon in zone_list %}
        <li class="dropdown-submenu">
            <a tabindex="-1" href="#">
                {{ zon.name }}
            </a>
            <ul class="dropdown-menu">
                {% for sta in station_list %}
                {% ifequal sta.zone.url_id zon.url_id %}
                <li><a tabindex="-1" href="{% url 'station' sta.url_id %}">
                    {{ sta.name }}
                </a></li>
                {% endifequal %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">פרמטרים הנמדדים בתחנה<b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% for sp in station_params %}
        <li role="presentation"><a role="menuitem" tabindex="-1"
                                   href="{% url 'station_parameters' station.url_id sp.abbr %}">{{ sp.abbr }}</a></li>
        {% endfor %}
    </ul>
</li>
{% endblock %}

{% block content %}
<div class="row", align="center">
<div class="col-md-4">
    <h1 align="center">תחנה: {{ station.name }}</h1>

    <h3 align="center">תחנה: {{ station.url_id }} אזור: {{ station.zone.url_id }}</h3>

    <h3 align="center">עדכון אחרון: <br><span dir="ltr">{{ lastupdate|date:"d/m/Y H:i" }}</span></h3>
</div>
{% if station_params %}
<div class="col-md-4">
    <h3>בתחנה זו נמדדים הפרמטרים הבאים:</h3>
    <table class="table table-striped">
        <tbody>
        {% for sp in station_params %}
        <tr>
            <td><a role="menuitem" tabindex="-1" href="{% url 'station_parameters' station.url_id sp.abbr %}">{{ sp.abbr }}</a></td>
            <td>{{ sp.name }}</td>
            <td>{{ sp.units }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No pages are available.</p>
{% endif %}
<div class="col-md-4">
    <div id="map"></div>
</div>

<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
<script type="text/javascript">
		var lon = {{ station.lon }}
		var lat = {{ station.lat }}
		var map = L.map('map').setView([lat, lon], 14);
		L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.jpg', {
			attribution : 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
			subdomains : 'abcd',
			minZoom : 3,
			maxZoom : 18
	}).addTo(map);
</script>
{% endblock %}
