{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />

<style>
	#map {
		height: 400px;
		width: 300px;
	}
	.axis path,
	.axis line {
		fill: none;
		stroke: black;
		shape-rendering: crispEdges;
	}

	.axis text {
		text-align: "right";
		font-family: sans-serif;
		font-size: 11px;
	}
</style>
{% endblock %}
{% block title %}
openAir - {{ station.name }}

{% endblock %}
{% block navbar-list %}
<li class="dropdown"><a role="menu" data-toggle="dropdown" href="#">רשימת תחנות<b class="caret"></b></a>
	<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
		{% for zon in zone_list %}
		<li class="dropdown-submenu">
			<a tabindex="-1" href="#">
				{{ zon.name }}
			</a>
			<ul class="dropdown-menu">
				{% for sta in station_list %}
				{% ifequal sta.zone.url_id zon.url_id %}
				<li><a tabindex="-1" href="{% url 'station' sta.url_id %}">
					{{ sta.name }}
				</a></li>
				{% endifequal %}
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
</li>

<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">פרמטרים הנמדדים בתחנה<b class="caret"></b></a>
	<ul class="dropdown-menu">
		{% for sp in station_params %}
		<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'station_parameters' station.url_id sp.abbr %}">{{ sp.abbr }}</a></li>
		{% endfor %}
	</ul>
</li>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-3">
		<div>
			<h4 align=center>תחנה: <a href="{% url 'station' station.url_id %}">{{ station.name }}</a></h4>
			<h4 align=center>פרמטר: <a href="{% url 'parameter' abbr %}">{{ abbr }} - {{ parameter.name }}</a></h4>
			<h5 align="center">עדכון אחרון: <strong><span dir="ltr">{{ lastupdate|date:"d/m/Y H:i" }}</span></strong></h5>
		</div>
		<div>
			<h4 align="right">יחידות מדידה: {{ parameter.units }}</h4>
			<h4 align="right">הסבר בקצרה: </h4><p align="justify">{{ parameter.description }}</p>
		</div>
	</div>
	<div class="col-md-6">
		<div align=center>
			<h3>24 מדידות אחרונות: <br>{{ twentyfourth|date:"d/m/Y H:i" }} - {{ lastupdate|date:"d/m/Y H:i" }}</h3>
			<svg id="timeseries">
				<button id="trbutton">Show all data</button>
			</svg>
			<div>
				<h5 align="right">ערך ממוצע בכל התחנות: <strong><span dir="ltr">{{ total_average_value|floatformat:-2 }}</span></strong></h5>
				<h5 align="right">ערך ממוצע בתחנה: <strong><span dir="ltr">{{ average_value|floatformat:-2 }}</span></strong></h5>
				<h5 align="right">ערך ממוצע בכל התחנות בשעה זו של היום: <strong><span dir="ltr">{{ total_average_by_hour|floatformat:-2 }}</span></strong></h5>
				<h5 align="right">ערך ממוצע בתחנה בשעה זו של היום: <strong><span dir="ltr">{{ average_by_hour|floatformat:-2 }}</span></strong></h5>
				<h5 align="right">גבול מותר עליון - ממוצע שעתי: {{ parameter.standard_hourly }}</h5>
				<h5 align="right">גבול מותר עליון - ממוצע 8 שעות: {{ parameter.standard_8hours }}</h5>
				<h5 align="right">גבול מותר עליון - ממוצע יממתי: {{ parameter.standard_daily }}</h5>
				<h5 align="right">גבול מותר עליון - ממוצע שנתי: {{ parameter.standard_yearly }}</h5>
			</div>
		</div>
		<div align=center>
			<svg id="dailyAverages"></svg>
		</div>
	</div>
	<div class="col-md-3">
		<div id="map"></div>
	</div>
</div>
</div>


<script type="text/javascript">
	console.log({{ station.lon }}, {{ station.lat }})
	var lon = {{ station.lon }}
	var lat = {{ station.lat }}
	var stationsJson = "{% url 'stations_json' %}";
	var paramjson = "{% url 'station_parameters_json' url_id=station.url_id abbr=abbr %}";
	var daily_avg_json = "{% url 'dailyparam_json' url_id=station.url_id abbr=abbr %}";
	var total_average_value = {{ total_average_value }}
	var average_value = {{ average_value }}
	var total_average_value_hour = {{ total_average_by_hour }}
	var average_value_hour = {{ average_by_hour }}
	var standardHourly = {{ standardHourly }}
	var standard8Hours = {{ standard8Hours }}
	var standardDaily	= {{ standardDaily }}
    var standardYearly = {{ standardYearly }}
</script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
<script src="crossfilter.v1.min.js"></script>
<script type="text/javascript" src="{% static 'openAirJS/paramd3.js' %}"></script>

{% endblock %}
