{% extends "base.html" %}
{% load static %}
{% block head %}
<head>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
	<style>
		#map {
			height: 400px;
			width: 300px;
		}
		.axis path,
		.axis line {
		    fill: none;
		    stroke: black;
		    shape-rendering: crispEdges;
		}

		.axis text {
		    font-family: sans-serif;
		    font-size: 11px;
		}
	</style>
</head>
{% endblock %}
{% block title %}
openAir - {{ station.name }}

{% endblock %}
{% block navbar-list %}
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">רשימת תחנות<b class="caret"></b></a>
	<ul class="dropdown-menu">
		{% for sta in station_list.record_set.parameter %}
		{% if abbr in sta.record_set %}
			<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'stationmapparam' sta.url_id abbr %}">{{ sta.name }}</a></li>
		{% endif %}
		{% endfor %}
	</ul>
</li>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-3">
		<div id="map"></div>
	</div>
	<div class="col-md-9">
			<h1 align=center>תחנה: <a href="{% url 'stationmap' station.url_id %}">{{ station.name }}</a></h1>
<h1 align=center>פרמטר: <a href="{% url 'parameter' abbr %}">{{ abbr }}</a></h1>
<h3 align="center">עדכון אחרון: <span dir="ltr">{{ lastupdate }}</span></h3>
		<div align=center>
			<svg id="timeseries">
		</div>
</div>
</div>

<script type="text/javascript">
	console.log({{ station.lon }}, {{ station.lat }})
	var lon = {{ station.lon }}
	var lat = {{ station.lat }}
	var stationsJson = "{% url 'stations_json' %}";
	var paramjson = "{% url 'stationmap_param_json' url_id=station.url_id abbr=abbr %}";
</script>
<script type="text/javascript" src="{% static 'openAirJS/paramd3.js' %}"></script>

{% endblock %}
