{% extends "base.html" %}
{% load static %}

{% block title %}
openAir - {{ station.name }}

{% endblock %}

{% block content %}
<h1 align=center>תחנה: {{ station.name }}</h1>

<h1 align=center>פרמטר: {{  abbr }}</h1>

<div align=center>
<svg id="timeseries">
</div>
<script type="text/javascript">
		//Create SVG element
       	//Width and height
		// a global
	    var w = 1000;
	    var h = 100;
	    var hlabels = h + 20;
	    var htimestamp = hlabels + 20;
	    var barPadding = 3;
	    var barWidth = 10;
	    var svg;

/* Visualizing parameters in a station */
		
		d3.json("{% url 'stationmap_param_json' url_id=station.url_id abbr=abbr %}", function(error, json) {
			if (error) return console.warn(error);
			console.log([json.records]);		

		// this part scale the transparency of the wings
			var minValue = d3.min(json.records, function(d) {
				return d.value;
			});
			var maxValue = d3.max(json.records, function(d) {
				return d.value;
			});
			var valueScale = d3.scale.linear().domain([minValue, maxValue]).range([0, 1]);
			var rec = ([json.records][0]);
			//var scaled_value = valueScale(rec.value);
			console.log(rec);
	        //Create SVG element
	        var svg = d3.select("#timeseries")
	                                .append("svg")
	                                .attr("width", w)
	                                .attr("height", h);
	
	        svg.selectAll("rect")
	        .data(json.records)
	        .enter()
	        .append("rect")
	         //.attr("x", function(d, i) {
	         //                return i * (w / datasetValues.length);
	         //})
	        .attr("x", function(d, i){return i*(barWidth+barPadding)})
	        .attr("y", function(d) {
	                         return (h-(d.value))})
	         //.attr("width", w / datasetValues.length - barPadding)
	        .attr("width", barWidth)
	        .attr("height", function(d) {
	                         return (d.value)})
	        .attr("fill", function(d) {
	                        return "rgb(0, 0, " + (d.value * 10) + ")";	         
	         })
	        .append("svg:title")
   			.text(function(d) { return d.timestamp; });
	    });
		

</script>


{% endblock %}
