{% extends "base.html" %}
{% load static %}
{% block head %}
	<head>
		 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
	     <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
	    <style>
	    	#map { height: 400px;
	    		 }
	    </style>
  	</head>
{% endblock %}
{% block title %}
openAir -מצב הרוח ב{{ station.name }}
{% endblock %}
{% block navbar-list %}
	<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">רוח בתחנות באזור  {{  station.zone.name }}  <b class="caret"></b></a>
        <ul class="dropdown-menu">
			{% for sta in station_list %}
					{% ifequal sta.zone.url_id zone_url_id %}
			        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'stationmapwind' sta.zone.url_id sta.url_id %}">{{ sta.name }}</a></li>
				{% endifequal %}
			{% endfor %}
        </ul>
       </li>
{% endblock %}
{% block content %}
<h1 align=center>מהירות וכיוון הרוח בתחנת {{ station.name }}</h1>
<h4 align=center>{{ station.location }}</h4>
   <div class="row">
                <div class="col-md-8">
   					<div id="map"></div>
   				</div>
   				<div class="col-md-3">
					<svg id="windrose" width="500" height="500"></svg>
				</div>
	    <div class="col-md-1">
	    <div class="btn-group">
		{% if station_list %}
		    <button data-toggle="dropdown" class="btn dropdown-toggle">תחנות <span class="caret"></span></button>
		    <ul class="dropdown-menu">    
		    {% for sta in station_list %}
		    	{% if sta.zone.url_id %}
		        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'stationmapwind' sta.zone.url_id sta.url_id %}">{{ sta.name }}</a></li>
		    	{% endif %}
		    {% endfor %}
		    </ul>
		</div>
		{% else %}
	    	<p>No pages are available.</p>
		{% endif %}
		</div>
	</div>
<p align="center" dir="rtl">דיאגרמת רוחות בתחנת {{ station.name }} המציגה את כיוון ועוצמת הרוח על פי מדידות שנעשו בתחנה ונמצאות באינטרנט באתר המשרד להגנת הסביבה בכתובת <a>http://svivaaqm.net</a></p>

	<div id="">
			<svg id="mapppp" width="500" height="500"></svg>
	</div>
<script type="text/javascript">
var lat ={{lat}};
var lon ={{lon}};
var windJson = "{% url 'stationmapwind_json' url_id=station.url_id %}";
var stationsJson = "{% url 'stations_json' %}"
</script>

<script type="text/javascript" src="{% static 'openAirJS/windd3.js' %}">

</script>


{% endblock %}
